<!-- copy function -->
<!-- reference: How To Copy to Clipboard-W3Schools -->
<script>
  function copy() {
    const copyText = document.getElementById("shortened-url")
    copyText.select();
    copyText.setSelectionRange(0, 99999)

    navigator.clipboard.writeText(copyText.value);

    alert("Copied the url: " + copyText.value)
  }
</script>

<!-- situation: when input URL was transformed before -->
{{#if data}}
<div class="result text-center" style="margin-top: 100px;">
  <h3 style="margin-bottom: 30px">
    <b style="color: green">{{inputURL}}</b> was transformed before!!
  </h3>
  <h2>
    <b>The shortened URL =</b>
    <input type="text" value="{{origin}}/{{shortURL}}" id="shortened-url" class="text-center w-50"
      style="color: #0ABAB5; border: 1px solid #0ABAB5; border-radius: 10px">
    <button class="btn btn-outline-success" onclick="copy()">Copy</button>
  </h2>
</div>

{{else}}

<!-- situation: when input URL has been transformed successfully -->
{{#if randomShortURL}}
<div class="result text-center" style="margin-top: 100px;">
  <h3 style="margin-bottom: 30px">
    <b style="color: green">{{inputURL}}</b> has been transformed successfully!!
  </h3>
  <h2>
    <b>The shortened URL =</b>
    <input type="text" value="{{origin}}/{{randomShortURL}}" id="shortened-url" class="text-center w-50"
      style="color: #0ABAB5; border: 1px solid #0ABAB5; border-radius: 10px">
    <button class="btn btn-outline-success" onclick="copy()">Copy</button>
  </h2>
</div>

<!--homepage-->
{{else}}
<form action="/shortenURL" method="post" class="" style="margin-top: 100px">
  <div class="mb-3 d-flex flex-column align-items-center">
    <input type="string" class="form-control w-25 text-center" id="initURL" name="initURL" value="{{inputURL}}"
      placeholder="input URL here" aria-describedby="" required>
  </div>
  <div class="button-container d-flex justify-content-center">
    <button type="submit" class="btn btn-outline-primary">Shorten</button>
  </div>

  <!-- verify input: input URL has to be fully-qualified -->
  {{#if obj}}
  <div class="text-center" style="margin-top: 50px">
    <h1 style="color: #dc143c">Oops! Please input fully-qualified URL.</h1>
    <h1><b style="color: black">(https://... ,etc)</b></h1>
    {{/if}}

</form>
{{/if}}
{{/if}}